@font-face {
    font-family: TradeGothicLTStd-BdCn20;
    src: url(TradeGothic/TradeGothicLTStd-BdCn20.otf);
}

@font-face {
    font-family: TradeGothicLTStd-Bold;
    src: url(TradeGothic/TradeGothicLTStd-Bold.otf);
}

@font-face {
    font-family: TradeGothicLTStd;
    src: url(TradeGothic/TradeGothicLTStd.otf);
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 15px 15px;
    padding: 0;
    font-family: TradeGothicLTStd, Helvetica, Arial, sans-serif;
}